/* Tablet 768px~1199px */
/* @media screen and (min-width:768px){
  html {font-size: 68.8%;}
  .mob_only, .dsk_only{display: none;} */

  /* Section0 */
/*   #section0 .main_product {
    display: flex;
    justify-content: space-around;
  }
  #section0 .p_img {max-width: 40rem;}
  #section0 .main_product h3 {line-height: 3rem;} */

  /* Section1 */
/*   #section1 div {display: flex;}
}
 */
/* DeskTop 1200px~ */
@media screen and (min-width:1200px) {

  .dsk_only {display: block;}
  .dsk_nav {display: flex;}

  .mob_only {display: none;}
  .mob_btn {display: none;}

  html {font-size: 62.5%;} 


  header{
  height: 8rem;
  padding: 0;
  /* color: #000; */
/*   display: flex;
  align-items: center; */
  }
  .header_left{
    display: flex;
    align-items: center;
  }
  .rel{
    max-width: 120rem;
    margin: auto;
  }
  header .rel{
    max-width: 140rem;
/*     align-items: center; */
  }
  /* .header_left .site_group{display: block;} */
  .header_tit a{
    min-height: 1.6rem;
    margin-right: 2.7rem;
    padding: 0;
    margin: 0;
  }
  .header_right{display: flex; padding: 0;}
  .dsk_nav li{margin-left: 2.5rem;}
  .dsk_nav li a {
    display: block;
    padding: 3rem;
    font-size: 2rem;
  }
  .sch_btn{
    display: block;
    margin-left: 6.7rem;
    padding: 2rem;
    
  }
  .sch_btn span {font-size: 4rem;}


  /* Main */
/*   main .tit_wrap img {
    animation: bounce-ani 1s infinite alternate;
  } */
  main .tit_wrap img:first-of-type {
    max-width: 65rem;
    width: 65rem;
    animation: bounce-ani1 2s ease infinite alternate;
  }
  main .tit_wrap img:last-of-type {
    max-width: 40rem;
    width: 40rem;
    animation: bounce-ani2 2s ease infinite alternate;
  }
  main .tit_wrap h2 {font-size: 10rem;}

  @keyframes bounce-ani1 {
    0% {
      transform: translateY(0);
      top: 14%;
      left: 18%;
    }
    50% {
      transform: translateY(-2rem);
      top: 14%;
      left: 18%;
    }
    100% {
      transform: translateY(0);
      top: 14%;
      left: 18%;
    }
  }
  @keyframes bounce-ani2 {
    0% {
      transform: translateY(0);
      top: 38%;
      left: 53%;
    }
    50% {
      transform: translateY(-2rem);
      top: 38%;
      left: 53%;
    }
    100% {
      transform: translateY(0);
      top: 38%;
      left: 53%;
    }
  }








  /* scrolling */
/*   .scrolling .h_nav li a{color: #000;}
  .scrolling .header_left .site_group{
    background-color: rgba(0,0,0,0.4);
    border-radius: 3.6rem;
  }
  .scrolling .sch_btn{background: url(../img/btn_totalsearch.png) no-repeat center/1.8rem;} */

  /* subNav */
  .subNav{
    right: 0;
    left: 0;
    top: 8rem;
    height: 48rem;
    background-color: #fafafa;
    display: none;
  }
  .subNav .inner {
    background-color: transparent;
    display: flex;
    /* justify-content: space-between; */
    max-width: 124rem;
    margin: auto;
    padding-top: 3.6rem;
  }


  /* 서브메뉴 */
  .sub_menu .depth1>li>span{display: none;}  /* 모바일용 메뉴는 안보이게 */
  .sub_menu .sub_tit {
    display: block;
    color: #555;
    font-size: 2rem;
  }
  .sub_menu .depth1 {
    display: flex;
    flex-wrap: wrap;
  }
  .sub_menu .depth1>li {
    width: calc(100% / 3 - 5rem);
    padding-left: 5rem;
  }
  .sub_menu .depth2>li{
    color:#a4a4a4;
    list-style-type: circle;
    padding-left: 2rem;
    line-height: 3.3rem;
  }
  .sub_menu .depth2 {
    display: block;
    background-color: transparent;
  }
  /* dOpen이 BODY에 붙으면...*/
  header:hover, 
  .dOpen header {
    background-color: #fff;
  }
/*   header:hover .dsk_nav li a,
  .dOpen .h_nav li a {color:#000;} */

  /* 검색 */
  .search_wrap{
    display: none;
    position: fixed;
    top:8rem;
    width:100%;
    left:0;
    padding:4rem 0;
    background-color:#ddd;
    color: #555;
  }
  .search_wrap .inner {
    max-width: 124rem;
    margin: auto;
    padding:0 2rem;
    position: relative;
  }
  .search_wrap .dep1 label {display: none;}
  .search_wrap .dep1 input {
    width: 100%;
    height: 10rem;
    padding-right: 8rem;
    font-size: 2.4rem;
    border: 1px solid #000;;
    border-width: 0 0 .1rem 0;
    background: transparent;
    display: block;
    outline: none;
  }
  .search_wrap .dep1 input::placeholder {
    font-weight: 900;
    padding-left: 2rem;
  }
  .search_wrap .dep1 button {
    position: absolute;
    right:0;
    top: 25%;
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .search_wrap .dep1 button span {
    font-size: 4rem;
    color: #555;
  }
  .search_wrap .dep2 {margin-top: 3.3rem;}
  .search_wrap .dep2 span{
    font-size: 1.8rem;
    font-weight: 900;
    padding-left: 2rem;
  }
  .search_wrap .dep2 a{
    position: relative;
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.8rem;
    color: rgba(225, 225, 225, .5);
  }

  /* sOpen이 BODY에 붙으면...*/
  .sOpen header {background-color: #fff;}










  /* Section0 */
  #section0 .product1,
  #section0 .product2 {
    width: 50rem;
  }
  #section0 .main_product {
    display: flex;
    justify-content: space-around;
    width: 120rem;
  }
  #section0 .p_img,
  #section0 .p_img img {
    width: 50rem;
  }
  #section0 .main_product h3 {line-height: 3rem;}
  #section0 .p_caption {padding-left: 3rem;}
  #section0 .p_caption h3:before {
    position: absolute;
    content: '';
    top: 50%;
    right: 20%;
    width: 3rem;
    height: 0.1rem;
    background-color: #FF0000;
  }

  /* Section1 */
  #section1 div {display: flex;}


  /* Section2 */
  #section2 .dsk_only .mySwiper2 {
    width: 1200px;
  }
  #section2 ul img {
    width: 40rem;
    height: 50rem;
    max-width: 40rem;
    max-height: 50rem;
    object-fit: cover;
    /* margin: 6rem 0; */
  }


}